%div{:style => "width:48%; float:left; margin-right:2%;"}
  .pane.conversation{id: "conversation_#{conversation.id}"}
    %p.heading
      = conversation.task.description.truncate(20) rescue "General Chat"
      = link_to archive_conversation_path(conversation), remote: true, method: "delete", confirm: "This will archive the conversation. Continue?" do
        %i.icon-remove.pull-right
      / = conversation.users.map(&:name).join(", ")
    .messages
      - conversation.messages.each do |message|
        = render message
    .new_message
      = form_for 'message', url: new_message_path(conversation), remote: true do |f|
        = f.text_area :text   
        = f.submit "Post", class: "btn btn-success"   