=content_for :sidebar do
  #userlist.pane
    %p.heading Team
    %ul.unstyled
      -@users.each do |user|
        - next if user == current_user
        %li
          - user_status_color = user.online ? 'lightgreen' : 'lightgrey'
          %i.icon-circle{style: "color: #{user_status_color}"}
          - if user.online?
            = link_to user.name, start_conversation_path(0,user.id), remote: true
          -else
            = user.name
          
  .pane
    %p.heading You
    - if current_user
      %h4= current_user.name
      =link_to "Profile", "#", class: "btn btn-success"
      =link_to "Logout", destroy_user_session_path, class: "btn btn-info", method: :delete

.row-fluid
  .span6
    .row-fluid
      = render "tasks/new_task"
      
    #tasks
      = render @tasks

  .span6
    .row-fluid#conversations
      = render @conversations

=content_for :scripts do
  #subscriptions
    = subscribe_to "/users/list"
    = subscribe_to "/tasks/list"
    = subscribe_to "/conversations/#{current_user.id}/active"
    - @conversations.each do |conversation|
      = subscribe_to "/conversations/#{conversation.id}/messages"
      = subscribe_to "/conversations/#{conversation.id}/archive"
    