- if current_user
  %p You are logged In
  %p
    = link_to "Go to Room", room_path, class: "btn btn-primary"
  %p
    = link_to "Sign Out", destroy_user_session_path, class: "btn btn-info"
- else
  = form_for("user", url: user_session_path) do |f|
    %div
      = f.label :email
      = f.email_field :email, autofocus: true
    %div
      = f.label :password
      = f.password_field :password
    %div
      = f.submit "Sign in", class: "btn btn-primary"
  Or    
  = link_to "Sign up", new_user_registration_path